//
//  Secrets.xcconfig
//  Runner
//
//  Created by 곽민철 on 8/16/25.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
KAKAO_NATIVE_APP_KEY=kakaof8bc527301414875bdd8adcd5cff31d8
GOOGLE_MAPS_API_KEY=AIzaSyCmcZpXcwyEiRJSpXjWwibFTCWimgSP1go
